body {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfbfb;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 15px;
}

svg {
  fill: currentColor;
  width: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #8f95b6;
}

main .main-text {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1440px) {
  main .main-text {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

main .main-text h3 {
  font-size: 25px;
  margin-top: 90px;
}

@media (min-width: 1440px) {
  main .main-text h3 {
    font-size: 25px;
    margin-top: 90px;
  }
}

main .main-text p {
  font-size: 21px;
}

@media (min-width: 1440px) {
  main .main-text p {
    font-size: 21px;
  }
}
