body {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfbfb;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 15px;
}

svg {
  fill: currentColor;
  width: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #8f95b6;
}

header {
  margin: 0 auto;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-info {
  width: 95%;
  padding: 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-info .github a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

header .header-info .github svg {
  width: 50px;
}

header .header-info .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .social-media a {
  width: 20px;
}

header .social-media a + a {
  margin-left: 20px;
}
