body {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfbfb;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 15px;
}

svg {
  fill: currentColor;
  width: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #8f95b6;
}

main {
  padding: 20px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  main {
    width: 100%;
    padding: 30px 0 100px 0;
  }
}

main .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  main .welcome {
    align-items: center;
  }
}

main .welcome h2 {
  font-size: 15px;
  font-weight: 400;
  background-color: #000;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (min-width: 768px) {
  main .welcome h2 {
    font-size: 25px;
    text-align: center;
  }
}

main .welcome h1 {
  width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
}

@media (min-width: 768px) {
  main .welcome h1 {
    width: 640px;
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  main .welcome h1 {
    width: 800px;
  }
}

@media (min-width: 1440px) {
  main .welcome h1 {
    font-size: 28px;
  }
}

main .blog {
  width: 100%;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  main .blog {
    width: 580px;
    padding-top: 65px;
  }
}

@media (min-width: 1024px) {
  main .blog {
    width: 750px;
  }
}

@media (min-width: 1440px) {
  main .blog {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

main .blog .article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1440px) {
  main .blog .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

main .blog .article + .article {
  margin-top: 45px;
}

@media (min-width: 768px) {
  main .blog .article + .article {
    margin-top: 70px;
  }
}

main .blog h3 {
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 1440px) {
  main .blog h3 {
    font-weight: 400;
  }
}

main .blog .more {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  main .blog .more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.tag {
  padding: 0 10px;
  margin: 10px 20px 0px 0px;
  border: 1px solid #8f95b6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.tag svg {
  margin-right: 8px;
  fill: #8f95b6;
}

.tag.care svg {
  width: 15px;
  position: relative;
  top: 1px;
}

@media (min-width: 1440px) {
  .tag.care svg {
    width: 15px;
    position: relative;
    top: 1px;
  }
}

.tag.beauty svg {
  width: 17px;
  position: relative;
  top: 2px;
}

@media (min-width: 1440px) {
  .tag.beauty svg {
    width: 17px;
    position: relative;
    top: 2px;
  }
}

.tag.astro svg {
  width: 17px;
}

@media (min-width: 1440px) {
  .tag.astro svg {
    width: 17px;
  }
}

main .blog .more .tag span {
  margin: 5px 0;
}

@media (min-width: 1440px) {
  main .blog .more .tag span {
    margin: 5px 0;
  }
}

footer {
  height: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  footer {
    padding: 10px 30px 0 30px;
    position: relative;
  }
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}

@media (min-width: 1440px) {
  footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  }
}

footer .footer-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  footer .footer-details {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  footer .footer-details {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer .github {
  display: none;
}

@media (min-width: 768px) {
  footer .github {
    width: 138px;
    display: block;
  }
}

footer .github a svg {
  width: 50px;
}

@media (min-width: 1440px) {
  footer .github a svg {
    width: 50px;
  }
}

footer .social-media {
  width: 256px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  footer .social-media {
    width: auto;
  }
}

footer .social-media .github {
  display: block;
}

@media (min-width: 768px) {
  footer .social-media .github {
    display: none;
  }
}

footer .social-media .github svg {
  width: 35px;
}

footer .social-media a {
  width: 20px;
}

@media (min-width: 1440px) {
  footer .social-media a {
    width: 20px;
  }
}

@media (min-width: 768px) {
  footer .social-media a + a {
    margin-left: 30px;
  }
}
